@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '~antd/dist/antd.less';

html * {
  font-family: 'Bebas Neue';
  text-align: center;
}

h1 {
  font-size: 7.0em;
  color: #f9f7f7;
  text-shadow: 5px 5px black;
  margin: 0;
}

h3 {
  font-size: 2.5em;
  color: #f9f7f7;
  margin: 0;
}

.go_button {
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

.sport_dropdown {
  margin: auto;
  width: 60%;
  font-size: xx-large;
}

.site-layout-content {
  //background: #112d4e;
  padding: 10%;
}

a:link, a:visited {
  color: #031529;
  font-weight: 100;
}

//.ant-btn-primary {
//  background: green;
//}

.ant-btn-lg {
  background: green;
  width: 50px;
  font-size: 20px;
  padding: 0;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background: lawngreen;
}

.ant-btn-icon-only {
  vertical-align: 0px;
  border-color: transparent;
}

//a:link:active, a:visited:active {
//  color: red;
//}